
body {
  background-color: #EE7600
 }

a {
  color: #EE7600;
}

a:hover, a:active {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 10vmin;
  padding: 20px;
  padding-top: 10vmax;
}

h2 {
  font-size: 8vmin;
  padding: 20px;
}

h3 {
  font-size: 5vmin;
  padding-top: 1vmin;
  padding-left: 1vmin;
}

p {
  font-size: 3vmin;
  padding-bottom: 2vmin;
  padding-left: 2vmin;
}

li {
  background-color: white;
  margin: 1%;
  border-radius: 25px;
}

.num-list {
  padding-top: 2vmin;
  padding-bottom: 0;
  margin-bottom: 0;
}

.query {
  margin: 0;
}

.list-unstyled {
  text-align: left;
  background-color: white;
}

.btn-default {
  margin-bottom: 3px;
  border: none;
  padding: 1px 12px;
  height: 34px;
}

.form-control {
  margin-bottom: 10vmin;
  border-radius: 5px;
  width: auto;
  display: inline-block;
}

.container-fluid {
  padding: 0;
  background-color: white;
}

.endList {
  margin: 25px 13;
  border-radius: 5px;
}

.bottom {
  background-color: #EE7600;
}

.heading:first-letter {
  font-family: 'GFS Neohellenic', sans-serif;
}

.randomArticle {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 100%;
  max-width: 10vmin;
  margin: 2vmin;
}
